body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#visualization-container {
    text-align: center;
    padding: 5 px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 90%;
    position: relative;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

#slide-controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

input {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#chart-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#bar-chart, #pie-chart, #ethnicity-chart  {
    flex: 1;
}

#controls {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#controls input {
    margin-bottom: 10px;
}
/* Style for x-axis labels */
.x-axis .tick text {
    font-size: 12px;
    font-weight: bold;
}

/* Style for y-axis labels */
.y-axis .tick text {
    font-size: 12px;
    font-weight: bold;
}

/* Style for axis titles */
.axis-label {
    font-size: 12px;
    font-weight: bold;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.7); /* Dark semi-transparent background */
    color: white; /* Text color for better readability */
    border-radius: 4px;
    pointer-events: none;
    white-space: nowrap;
}


